/* 设置公共变量 */
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  padding: .45rem 0;
  height: 100vh;
}
/* 公共头部区域样式*/
#header {
  position: fixed;
  width: 100vw;
  height: .45rem;
  padding-left: .45rem;
  padding-right: .45rem;
  background-color: #006699;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 9999;
}
#header h4 {
  width: 2.85rem;
  text-align: center;
  line-height: .45rem;
  margin: 0;
  font-weight: normal;
}
#header a {
  width: .45rem;
  height: .45rem;
  position: absolute;
  text-align: center;
  line-height: .45rem;
  color: #fff;
}
#header a.jiantou {
  left: 0;
}
#header a.search {
  right: 0;
  top: 0;
}
#header form {
  padding-top: .05rem;
}
#header form input {
  width: 2.85rem;
  line-height: .45rem;
  margin-bottom: 0rem;
  background-color: #fff;
  font-size: 0.14rem;
  text-align: left;
}
/* 搜索表单公共区域样式*/
.search-form form {
  display: flex;
  padding: .1rem;
}
.search-form form input {
  flex: 1;
  background-color: #fff;
  border: 0.01rem solid #006699;
  margin-bottom: 0;
  text-align: left;
  border-radius: 0.06rem 0 0 0.06rem;
  font-size: 0.14rem;
}
.search-form form .search-btn {
  width: .6rem;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 0.06rem 0.06rem 0;
}
/* 商品清单公共样式*/
.sport-list ul {
  display: flex;
  flex-wrap: wrap;
}
.sport-list ul li {
  width: 50%;
  padding: .1rem 0;
  background-color: #fff;
}
.sport-list ul li a {
  display: block;
  text-align: center;
  box-shadow: 0rem 0rem .02rem #ccc;
}
.sport-list ul li a img {
  width: 100%;
}
.sport-list ul li a .btn {
  margin-bottom: .1rem;
}
/* 公共底部区域样式*/
#footer {
  position: fixed;
  width: 100vw;
  height: .45rem;
  background-color: #006699;
  z-index: 9999;
  left: 0;
  bottom: 0;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25%;
}
#footer ul li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: .085rem 0;
  color: #fff;
}
#footer ul li a span {
  display: block;
  padding-top: 0.02rem;
}
#footer ul li a.active {
  color: orange;
}
body {
  background-color: #fff;
}
#main {
  height: 100%;
}
#main .product-title ul {
  display: flex;
}
#main .product-title ul li {
  width: 25%;
}
#main .product-title ul li a {
  display: block;
  font-size: .14rem;
  color: #666;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.4);
  line-height: .3rem;
}
#main .product-title ul li.active a {
  color: red;
}
